
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Me</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Me</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>My Story</h2>
                <p>The one word which can classify me appropriately is "Programmer". Since my college days, I have always loved designing the simplest possible algorithms to solve the most complex problems and I am very happy to have been able to translate that into my professional career. I never wanted to confine myself into a specific form (or language) of programming. I have written codes in a variety of facets like C++, Java, etc. for application development, PL/SQL for database operations and R for statistical analysis of big data. In this process, I have developed an added passion for javascript and intend to grow in that field.</p>
				<p>I have worked on application development and data analysis mostly targeted at intelligent transport systems. Looking at the current scenario and predictions of the near future by experts, we can expect some exciting opportunities and scope of innovation in the subject of smart transport and smart cities. I am very eager to take part in the innovation that promises to shape up our living standards very soon.</p>
				<p>Other than work, I am very passionate about sports. During my school days, I used to play cricket for a club. I have played other sports as well. Two years back, I won a <em>chess championship</em> in my office.</p>
                <p>I also have keen interest in music and literature.</p>
                
            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Date of Birth:</dt>
                            <dd>25th August 1987</dd>
                            <dt>Profession:</dt>
                            <dd>Software development</dd>
                            <dt>Years of experience:</dt>
                            <dd>4</dd>
                            <dt>Highest qualification:</dt>
                            <dd>Master of computer application (MCA)</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <h2>Education</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            Masters
                        </th>
                        <th>
                            Graduation
                        </th>
                        <th>
                            Higher Secondary
                        </th>
						<th>
                            Secondary
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Specialization
                        </th>
                        <td>
                            Computer application
                        </td>
                        <td>
                            Computer Science Honours
                        </td>
                        <td>
                            Science
                        </td>
						<td>
                            General
                        </td>
                    
                    </tr>
					
					<tr>
                        <th>
                            Board/University
                        </th>
                        <td>
                            West Bengal University of Technology
                        </td>
                        <td>
                            University of Calcutta
                        </td>
                        <td>
                            West Bengal counsil of Higher Secondary Education
                        </td>
						<td>
                            West Bengal Board of Secondary Education
                        </td>
                    
                    </tr>
					
                    <tr>
                        <th>
                            Marks percentage/CGPA
                        </th>
                        <td>
                            9.03
                        </td>
                        <td>
                            62.25%
                        </td>
                        <td>
                            58.1%
                        </td>
						<td>
                            79%
                        </td>
                    
                    </tr>
					
					<tr>
                        <th>
                            Year of pass-out
                        </th>
                        <td>
                            2012
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            2005
                        </td>
						<td>
                            2003
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Course duration
                        </th>
                        <td>
                            2 years
                        </td>
                        <td>
                            2 years
                        </td>
                        <td>
                            3 years
                        </td>
						<td>
                            3 years
                        </td>
                    
                    </tr>
                    
                </table>
                </div>
            </div>
       </div> 
    </div>
