
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Projects</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Project Details</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showProjects">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showProjects">
                 <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button ng-click="toggleFavorites()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showFavorites ? 'Hide Favorite Button':'Show Favorite Button'}}
                </button>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                    ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                     aria-controls="all projects"
                    role="tab">All projects</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                    aria-controls="web"
                     role="tab">Web</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                     aria-controls="study"
                     role="tab">Study</a></li>
                    <li role="presentation"
                    ng-class="{active:isSelected(4)}">
                    <a  ng-click="select(4)"
                     aria-controls="desktop"
                     role="tab">Desktop</a></li>
					 <li role="presentation"
                    ng-class="{active:isSelected(5)}">
                    <a  ng-click="select(5)"
                     aria-controls="embedded"
                     role="tab">Embedded</a></li>
                </ul>
             
                <div class="tab-content">
				   <ul class="media-list tab-pane fade in active">
						<li class="media" ng-repeat="project in projects | filter:filtText | orderBy:'-index'">
							<div class="media-left media-middle">
								<a ui-sref="app.projectdetails({id: project._id})">
								<img class="media-object img-thumbnail"
								ng-src={{project.image}} alt="Project">
								</a>
							</div>
							<div class="media-body">
								<h2 class="media-heading">{{project.name}}
								<span class="label label-danger label-xs">{{project.label}}</span>
								<span class="badge">{{project.category}}</span></h2>
								<p align="justify" ng-show="showDetails" ng-repeat="description in project.descriptions">{{description}}</p>
								 <button  ng-show="showFavorites" ng-click="addToFavorites(project._id)" class="btn btn-xs btn-default pull-right"
							type="button">
								  <i class="fa fa-heart"></i>
								</button>
							</div>
						</li>
					</ul>

            </div>
            </div>
        </div>

    </div>
